.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #519872;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.links, .btn, .links, .input{
  margin: 3px;
}
.form{
  background-color: #DEDEDE;
}
.body{
  background-color: #AFD4C0;
  height: 800px;
  width: 100%;
  
}
